---
import styles from "./Hero.module.scss";
const header = `Auto care that is fast ?`;
const writeUp = `You got a guy. Here at Jose's Automotive, we take care of the cars and people in our community, and we always provide quality without compromise.`;
const label = "Book an appointment";
---

<section id="#" class={styles.hero}>
  <div class={styles.overlay}>
    <div class={`container ${styles.woo}`}>
      <h3 class={styles.header}>{header}</h3>
      <p class={styles.writeUp}>{writeUp}</p>
      <a href="#contact">
        <button class={styles.btn}>{label}</button>
      </a>
    </div>
  </div>
</section>
