---
import styles from "./Location.module.scss";
import mm from "../../../../public/Assets/img7.jpg";
const heading = "Come on by!";
const subheading = `You got a guy in not one, but five convenient Minneapolis 
locations! Visit us at any of our shops for fast, professional, and friendly vehicle services`;
const locations = [
  {
    location: "uptown",
    name: "precision auto performance & repair",
    img: "/public/Assets/img7.jpg",
  },
  {
    location: "dinkytown",
    name: "precision garage",
    img: "/public/Assets/img8.jpg",
  },
  {
    location: "cross roads",
    name: "precision medical",
    img: "/public/Assets/img9.jpg",
  },
  {
    location: "21st street",
    name: "precision auto maintenance",
    img: "/public/Assets/img10.jpg",
  },
];
---

<section id="locations" class={`container ${styles.locations}`}>
  <div class={styles.top}>
    <p class={styles.heading}>{heading}</p>
    <p class={styles.subheading}>{subheading}</p>
  </div>
  <div class={styles.bottom}>
    {
      locations.map((item) => (
        <div class={styles.location}>
          <img src={item.img} alt={item.name} class={styles.img} />
          <p class={styles.loc}>{item.location}</p>
          <p class={styles.name}>{item.name}</p>
        </div>
      ))
    }
  </div>
</section>
